apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  labels:
    app: node-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: 035466343264.dkr.ecr.ap-south-1.amazonaws.com/my-harness-repo:<+pipeline.sequenceId>
          ports:
            - containerPort: 3000
